
.container
{
  position           : relative;
  width              : 100%;
  max-width          : 960px;
  margin             : 0 auto 0 auto;
  padding            : 0 20px 0 20px;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
}

.container::after
{
  content : "";
  display : table;
  clear   : both;
}

html
{
  font-size : 62.5%;
}

body
{
  background-color : #ffffff;
  font-size        : 1.69999em;
  line-height      : 2.29999rem;
  font-weight      : 400;
  font-family      : "Open Sans", sans-serif;
  color            : #2b2b2b;
}

blockquote
{
  border-left  : solid 2px #b4b4b4;
  margin-left  : 10px;
  padding-left : 20px;
}

p
{
  margin-top    : 0;
  margin-bottom : 2rem;
}

a
{
  color           : #585858;
  text-decoration : none;
}

a > h1,
a > h2,
a > h3,
a > h4,
a > h5,
a > h6
{
  color : #2b2b2b;
}

a:hover,
a > h1:hover,
a > h2:hover,
a > h3:hover,
a > h4:hover,
a > h5:hover,
a > h6:hover
{
  color : #b4b4b4;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  margin-top    : 1rem;
  margin-bottom : 2.5rem;
  font-weight   : 300;
}

h1
{
  font-size      : 4rem;
  line-height    : 5.2rem;
  letter-spacing : -0.10001rem;
}

h2
{
  font-size      : 3.6rem;
  line-height    : 4.84999rem;
  letter-spacing : -0.10001rem;
}

h3
{
  font-size      : 3rem;
  line-height    : 4.29999rem;
  letter-spacing : -0.10001rem;
}

h4
{
  font-size      : 2.39999rem;
  line-height    : 3.75rem;
  letter-spacing : -0.08001rem;
}

h5
{
  font-size      : 1.8rem;
  line-height    : 3.29999rem;
  letter-spacing : -0.05001rem;
}

h6
{
  font-size      : 1.5rem;
  line-height    : 3.1rem;
  letter-spacing : 0;
}

.teaser h1
{
  font-size : 3.6rem;
}

.teaser h2
{
  font-size : 3rem;
}

.teaser h3
{
  font-size : 2.39999rem;
}

.teaser h4
{
  font-size : 1.8rem;
}

.teaser h5
{
  font-size : 1.5rem;
}

.teaser h6
{
  font-size : 1.5rem;
}

.more
{
  margin     : 10px 20px 10px auto;
  border     : solid 1px #585858;
  background : rgba(0,0,0,0.0);
  width      : 120px;
  text-align : center;
}

.more a
{
  padding : 7px 10px 7px 10px;
  display : block;
}

.teaser
{
  margin-bottom  : 1rem;
  padding-bottom : 1rem;
  margin-left    : 15px;
  margin-right   : 15px;
  list-style     : none inside none;
}

.teaser:nth-child(n+2)
{
  border-top  : solid 1px #585858;
  margin-top  : 1rem;
  padding-top : 1rem;
}

ul,
ol
{
  padding-left : 0px;
  margin-top   : 0px;
}

ul
{
  list-style : circle inside none;
}

ul ul
{
  list-style  : disc inside none;
  margin-left : 2%;
}

ul ul ul
{
  list-style : circle inside none;
}

ul ul ul ul
{
  list-style : disc inside none;
}

ol
{
  list-style : decimal inside none;
}

dl,
li
{
  margin-top    : 0.5rem;
  margin-bottom : 0px;
}

.title
{
  margin-top    : 1rem;
  margin-bottom : 1rem;
  font-size     : 6rem;
}

.navigation ul
{
  border-top      : solid 1px #585858;
  border-bottom   : solid 1px #585858;
  list-style-type : none;
  overflow        : hidden;
  margin          : 20px 0 20px 0;
  padding         : 0 0 0 0;
}

.navigation li
{
  text-decoration : none;
  margin          : 0 0 0 0;
  padding         : 0 0 0 0;
}

.navigation li a
{
  display : block;
  padding : 10px 0 10px 0;
  margin  : 0 0 0 0;
}

.navigation::after
{
  clear : both;
}

.pagination
{
  padding    : 0 20px 0 20px;
  text-align : center;
}

.pagination a
{
  border  : solid 1px #585858;
  padding : 5px 10px 5px 10px;
  margin  : 0px 10px 0px 10px;
}

.article_data > li
{
  list-style : none inside none;
  margin-top : 0rem;
}

.article_data > li:last-child
{
  margin-bottom : 2rem;
}

footer
{
  border-top     : solid 1px #585858;
  text-align     : center;
  position       : static;
  padding-bottom : 15px;
  padding-top    : 15px;
  margin         : 15px 0px 15px 0px;
}

.archives
{
  text-align   : right;
  margin-right : 30px;
}

.figure
{
  margin : 10px 10px 10px 10px;
}

.footnotes
{
  margin-top    : 4rem;
  margin-bottom : 2rem;
  padding-top   : 1rem;
  border-top    : solid 1px #585858;
}

.footnotes > hr,
.navigation > hr,
footer > hr
{
  display : none;
}

@media screen and (min-width: 650px)
{

.container
{
  width   : 90%;
  padding : 0 0 0 0;
}

}
@media screen and (min-width: 550px)
{

h1
{
  font-size : 5rem;
}

h2
{
  font-size : 4.2rem;
}

h3
{
  font-size : 3.6rem;
}

h4
{
  font-size : 3rem;
}

h5
{
  font-size : 2.39999rem;
}

h6
{
  font-size : 1.5rem;
}

}
@media screen and (min-width: 500px)
{

.navigation .rss
{
  float : right;
}

.navigation li
{
  float : left;
}

.navigation li a
{
  padding : 10px 15px 10px 15px;
}

}

/* Generated with Clay, http://fvisser.nl/clay */