h1.title {
  margin-bottom: 0px;
  text-align: center; }

div.header {
  margin-bottom: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: static; }

ul.navigation li {
  list-style: none;
  float: left; }

ul.navigation li a {
  padding-left: 10px; }

@media (min-width: 40rem) {
  ul.navigation li a {
    padding-left: 70px; } }

div.clear {
  clear: both;
  padding: 0px;
  margin: 0px; }

div.border {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 10px;
  margin-top: 10px; }

div.footer {
  border-top: 1px solid #d1d1d1;
  text-align: center;
  position: static;
  bottom: 0px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 15px; }

div.figure img {
  width: 100%; }
