@import 'Color'

h1.title
  position: static
  text-align: center

div.clear
  clear: both

footer
  border-top: 1px solid $color-quaternary
  text-align: center
  position: static
  bottom: 0px
  margin-top: 30px
  margin-bottom: 15px

.figure img
  width: 100%
nav.navigation
  margin-top: 20px
  margin-bottom: 20px

ul.navigation
  border-top: 1px solid $color-quaternary	
  border-bottom: 1px solid $color-quaternary	
  list-style-type: none;
  overflow: hidden;
  margin: 0
  padding: 0

ul.navigation li
  display: block;
  text-align: left;
  text-decoration: none;
  margin: 0
  padding-top: 10px
  padding-bottom: 10px

@media (min-width: 40.0rem)
  ul.navigation li
    float: left;

  ul.navigation li a
    text-align: center;
    padding-margin: 10px
    padding-top: 10px
    padding-left: 30px
    padding-right: 30px
