@import "Color"

h1.title
  margin-bottom: 0px

a.title
  color: $color-tertiary

div.header
  margin-bottom: 20px
  padding-top: 3px
  padding-bottom: 3px
  background-color: $color-dark
  position: static

div.footer
  background-color: $color-dark
  color: $color-tertiary
  text-align: center
  position: static
  bottom: 0px
  margin-top: 20px
  padding-top: 10px
  padding-bottom: 15px

div.figure img
  width: 100%
