<h2> Contact

<address>
  <ul>
    <li>
      <a href="https://twitter.com/Eliza_0x">Twitter - @Eliza_0x<
    <li>
      <a href="https://gnusocial.net/eliza">Gnusocial - eliza@gnusocial.net
    <li>
      <a href="https://github.com/eliza0x">Github - eliza0x
    <li>Mail - me [at] eliza [dot] link
