<h2> Contact

<ul>
  <li>
    <a href="https://twitter.com/Eliza_0x">
    Twitter - @Eliza_0x<
  <li>
    <a href="https://gnusocial.net/eliza">
    Gnusocial - eliza@gnusocial.net
  <li>
    <a href="https://github.com/eliza0x">
    Github - eliza0x
  <li>
    Mail - me [at] eliza [dot] link

<h2> Articles

\$partial("templates/post-list.html")$

<p>…or you can find more in the<a href="/archive.html"> archives</a>.

<h2>Slides

<ul>
  <li>
     高校生のためのArduino入門
     <a href="/slides/IntroArduino.pdf">Download
  <li>
     プログラマのための音楽入門以前
     <a href="/slides/Music.pdf">Download
  <li>
     すごい Esperanto たのしく学ぼう !
     <a href="/slides/LYAEFGG.pdf">Download
