<h2> Articles

\$partial("templates/post-list.html")$

<p>…or you can find more in the<a href="/archive.html"> archives</a>.

<h2>Slides

<ul>
  <li>
     高校生のためのArduino入門 - 
     <a href="/slides/IntroArduino.pdf">Download
  <li>
     プログラマのための音楽入門以前 - 
     <a href="/slides/Music.pdf">Download
  <li>
     すごい Esperanto たのしく学ぼう ! - 
     <a href="/slides/LYAEFGG.pdf">Download
